<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>囚徒健身Plus</title>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <script type="text/javascript" src="/js/fitlog.js"></script>
    <script type="text/javascript" src="/js/fitlog-echarts.js"></script>

    <style>
        /*模态框从下往上弹出效果 https://blog.csdn.net/weixin_44267378/article/details/104017049*/
        #operModal {
            top: auto;
        }

        #addFitLog {
            top: auto;
        }

        .m-left10 {
            margin-left: 10px;
        }
        .m-right25 {
            margin-right: 25px;
        }

        .selected-color {
            color: #e6e5e5
        }

        .light-font {
            font-size: 12px;
            color: gray;
        }

        .modal.fade .modal-dialog {
            transform: translate3d(0, 10vh, 0);
            margin: 0;
        }
        .modal.in .modal-dialog {
            transform: translate3d(0, 0, 0);
            margin: 0;
        }
        .modal-content {
            border-radius: inherit;
            border: none;
        }
    </style>
</head>
<body>
<div>
    <!-- 标题 -->
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center a" style="font-size: 30px" ></div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center a" style="font-size: 24px">囚徒健身Plus</div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center a" style="font-size: 32px; color:#06f;" data-toggle="modal" data-target="#myModal" onclick="queryRecently()">+</div>
    </div>

    <!-- Tab-->
    <ul class="nav nav-tabs nav-pills" style="border-top:1px solid #ddd;" role="tablist">
        <li role="presentation" class="m-right25 active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab" onclick="clickAll()">全部</a></li>
        <li role="presentation" class="m-right25"><a href="#daily" aria-controls="daily" role="tab" data-toggle="tab" onclick="clickDaily()">日</a></li>
        <li role="presentation" class="m-right25"><a href="#weekly" aria-controls="weekly" role="tab" data-toggle="tab" onclick="clickWeekly()">星期</a></li>
        <li role="presentation" class="m-right25"><a href="#monthly" aria-controls="monthly" role="tab" data-toggle="tab"onclick="clickMonthly()">月</a></li>
    </ul>

   <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all">
            <div id="all1" style="height:400px;"></div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center h2"  id="allScores">NA</div>

            </div>

            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center light-font" >累计(天)</div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center light-font" >累计(组)</div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center light-font" >总共(次)</div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center a" id="allDays" >NA</div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center a" id="allGroups">NA</div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center a" id="allTimes">NA</div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="daily">
            <div id="daily1" style="height:400px;"></div>

            <div class="m-left10 light-font" id="daily_date"></div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center h2"  id="daily_score">NA</div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 text-center light-font" >累计(天)</div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 text-center light-font" >累计(组)</div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 text-center light-font" >总共(次)</div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center a" id="dailyDays" >NA</div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center a" id="dailyGroups">NA</div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center a" id="dailyTimes">NA</div>
            </div>

            <div id = "daily_logs" style="margin-bottom: 70px"></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="weekly">
            <div id="weekly1" class="col-md12 col-lg-12 col-sm-12 col-xs-12" style="height:400px;"></div>

            <div class="m-left10 light-font" id="weekly_day_range"></div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center h2"  id="weeklyScores">NA</div>
            </div>

            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center light-font" >累计(天)</div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center light-font" >累计(组)</div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center light-font" >总共(次)</div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center a" id="weeklyDays" >NA</div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center a" id="weeklyGroups">NA</div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center a" id="weeklyTimes">NA</div>
            </div>

            <div id = "weekly_logs" style="margin-bottom: 70px"></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="monthly">
            <div id="monthly1" class="col-md12 col-lg-12 col-sm-12 col-xs-12" style="height:400px;"></div>

            <div class="m-left10 light-font" id="yearmonth"></div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center h2"  id="monthlyScores">NA</div>
            </div>

            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center light-font" >累计(天)</div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center light-font" >累计(组)</div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center light-font" >总共(次)</div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center a" id="monthlyDays" >NA</div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center a" id="monthlyGroups">NA</div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center a" id="monthlyTimes">NA</div>
            </div>

            <div id = "monthly_logs" style="margin-bottom: 70px"></div>
        </div>
    </div>



    <!-- 模态框（Modal） -->
<!--    style="overflow: auto"解决遮罩问题 https://www.jb51.net/article/119206.htm-->
      <div class="modal fade col-md-12 col-lg-12 col-sm-12 col-xs-12" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                        </div>
                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-right a" onclick="fillByPreviousDate()">《
                        </div>
                        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5 text-center a" id="selectDate">
                        </div>

                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-left a" onclick="fillByNextDate()">》
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center a"
                             style="font-size: 30px; color:#06f;" data-toggle="modal" data-target="#addFitLog" onclick="addSingleLog()">+</div>
                    </div>

                    <div style="margin-bottom: 10px"><b>运动记录</b></div>

                    <div id = "selected_day_log" style="margin-bottom: 20px"></div>

                </div>

                <div style="margin-bottom: 10px"><b>最近记录</b>
                </div>

                <div id = "recently" style="margin-bottom: 70px"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="operModal" tabindex="-5" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="operModal-content">
                <div class="modal-footer">
                    <button class="btn btn-default col-md-12 col-lg-12 col-sm-12 col-xs-12 text-left a" onclick="onCopy()"
                            style="margin-left: 5px; border: none;" type="button" data-dismiss="modal">复制</button>

                    <button class="btn btn-default col-md-12 col-lg-12 col-sm-12 col-xs-12 text-left a" onclick="onCopyAndReplace()"
                            style="margin-bottom: 10px; border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.3)" type="button" data-dismiss="modal">复制 & 替换</button>

                    <button class="btn btn-default col-md-12 col-lg-12 col-sm-12 col-xs-12 text-left a"
                            style="font-weight:bold; border: none;" type="button" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="addFitLog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="addFitLog-content">
                <div class="modal-header">
                    <button class="btn btn-default col-md-3 col-lg-3 col-sm-3 col-xs-3 text-right a" data-dismiss="modal"
                            style="font-weight:bold; border: none; font-size: 15px;"
                            type="button" >取消</button>
                    <button class="btn btn-default col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center a" data-dismiss="modal"
                            style="border: none; color: #d86421; font-size: 15px;"
                            type="button" id="deleteFitLogBtn" onclick="onDeleteFitLog()">删除</button>

                    <button class="btn btn-default col-md-3 col-lg-3 col-sm-3 col-xs-3 text-left a" data-dismiss="modal"
                            style="border: none; color: #06f; font-size: 15px;"
                            type="button" id="addFitLogBtn" onclick="onAddFitLog()">插入</button>
                    <button class="btn btn-default col-md-3 col-lg-3 col-sm-3 col-xs-3 text-left a" data-dismiss="modal"
                            style="border: none; color: #06f; font-size: 15px;"
                            type="button" id="updateFitLogBtn" onclick="onUpdateFitLog()">更新</button>
                </div>

                <div class="modal-footer">
                    <div class="row" style="height: 120px; margin-right: 8px;">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                            <form action="">
                                <select id="types" style="border: none;font-size: 13px;"
                                        onchange="onTypeChange(this.options[this.options.selectedIndex].text)">
                                </select>
                            </form>
                        </div>
                        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                            <form action="">
                                <select id="subTypes" style="border: none;font-size: 13px;"
                                        onchange="onSubTypeChange(this.options[this.options.selectedIndex].text)">
                                </select>
                            </form>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                            <form action="">
                                <select id="groups" style="border: none;font-size: 13px;"></select>
                            </form>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                            <form action="">
                                <select id="times" style="border: none;font-size: 13px;"></select>
                            </form>
                        </div>

                        <div style="display: none" id = "id"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // document.getElementById("modal-content").style.height = window.screen.height + "px"
    var arrTimes = []
    var arrGroups = []
    var arrTypes = []
    var subTypeMaps = {}
    var recentLogs = {}

     //对于每个type，记住上一次用户选择子类型、组数和次数
    //示例：{"引体向上": {"subType": "窄距引体向上", "groups": "5", "times": "77"}, "深蹲": {"subType": "单腿辅助深蹲", "groups": "4", "times": "44"}}
    var lastOper_by_type = {}
    //示例：{"单臂引体向上": {"groups": "12", "times": "102"}, "垂直引体": {"groups": "13", "times": "104"}}
    var lastOper_by_subtype = {}

    $(function() {
        console.log("screen.width:" + window.screen.width + "px")
        document.getElementById("all1").style.width = window.screen.width + "px"
        document.getElementById("daily1").style.width = window.screen.width + "px"
        document.getElementById("weekly1").style.width = window.screen.width + "px"
        document.getElementById("monthly1").style.width = window.screen.width + "px"

        document.getElementById("selectDate").innerText = formatDate(new Date())

        /*填充编辑运动下拉框*/
        arrTimes = range(1, 500)
        arrGroups = range(1, 200)

        var info = ajax_post("get/base")
        arrTypes = info.types;
        subTypeMaps = info.type_to_subtypes
        // fillInFigLogSelection()

        clickAll();
    });

    function fillByCurrentDate() {
        var newDate = formatDate(new Date())
        fillInDateLog(newDate);
    }

    function fillByPreviousDate() {
        var newDate = dateDiff(document.getElementById("selectDate").innerText, -1)
        fillInDateLog(newDate);
    }

    function fillByNextDate() {
        var newDate = dateDiff(document.getElementById("selectDate").innerText, +1)
        fillInDateLog(newDate);
    }

    function onTypeChange(type, selectedSubType, selectedGroups, selectedTimes) {
        document.getElementById('subTypes').innerHTML = assembleOptions(subTypeMaps[type]);

        if(!selectedSubType && lastOper_by_type[type]) selectedSubType = lastOper_by_type[type].subType
        if(!selectedGroups && lastOper_by_type[type]) selectedGroups = lastOper_by_type[type].groups
        if(!selectedTimes && lastOper_by_type[type]) selectedTimes = lastOper_by_type[type].times

        if(selectedSubType) $("#subTypes").val(selectedSubType)
        if(selectedGroups) $("#groups").val(selectedGroups)
        if(selectedTimes) $("#times").val(selectedTimes)
    }

    function onSubTypeChange(subType) {
        if(lastOper_by_subtype[subType]) {
            var selectedGroups = lastOper_by_subtype[subType].groups
            var selectedTimes = lastOper_by_subtype[subType].times
            $("#groups").val(selectedGroups)
            $("#times").val(selectedTimes)
        }
    }

    function fillInDateLog(newDate) {
        document.getElementById("selectDate").innerText = newDate

        //TODO 超过最近，需要从数据库获取
        var logsByDate = []
        for (var i = 0; i < recentLogs.ori.length; i++) {
            if (formatDate(recentLogs.ori[i].fitDate) == newDate) {
                logsByDate.push(recentLogs.ori[i])
            }
        }

        document.getElementById('selected_day_log').innerHTML=assembleHtml4DailyLogDetailsWithSingleEdit(logsByDate)
    }
    function fillInFigLogSelection(){
        document.getElementById('types').innerHTML = assembleOptions(arrTypes);
        document.getElementById('times').innerHTML = assembleOptions(arrTimes);
        document.getElementById('groups').innerHTML = assembleOptions(arrGroups);

        onTypeChange(arrTypes[0])//触发选中第一个 TODO
    }

    function selectFigLogSelection(dailyLog) {
        $("#types").val(dailyLog.type)
        onTypeChange(dailyLog.type, dailyLog.subType, dailyLog.groups, dailyLog.times)
        $("#id").val(dailyLog.id)
    }

    function assembleOptions(arr) {
        var result = ""
        for(var i = 0; i < arr.length; i++) {
            result += "<option value=\"" + arr[i] + "\">" + arr[i] + "</option>\n"
        }
        return result;
    }

   /**********************************************/
    function clickAll() {
        var data = [];
        var allInfo = ajax_post("get/all");

        for(var i = 0; i < allInfo.typeAndScore.length; i++) {
            data.push({"value": allInfo.typeAndScore[i].scores, "name": allInfo.typeAndScore[i].type});
        }
        paintPie(document.getElementById('all1'), data)

        document.getElementById('allScores').innerHTML = allInfo.allSummary.scores + fen();
        document.getElementById('allDays').innerHTML = allInfo.allSummary.dates;
        document.getElementById('allGroups').innerHTML = allInfo.allSummary.groups;
        document.getElementById('allTimes').innerHTML = allInfo.allSummary.times;
    }

    function fen() {
        return "<span class=\"light-font\">分</span>"
    }

    /***********************************************************/
    function clickDaily() {
        var dailyScores = [];
        var dates = [];
        var shortDates = [];
        var dailyLogs = ajax_post("get/daily");
        for(var i = 0; i < dailyLogs.stats.length; i++) {
            dailyScores.push(dailyLogs.stats[i].scores)
            shortDates.push(dailyLogs.stats[i].fitDate.substr(5))
            dates.push(dailyLogs.stats[i].fitDate)
        }

        function barCallback(xIndex) {
            document.getElementById('daily_date').innerHTML = showDateWithWeekday(dates[xIndex])
            document.getElementById('daily_score').innerHTML = dailyScores[xIndex] + fen()

            document.getElementById('dailyDays').innerHTML = dailyLogs.stats[xIndex].dates
            document.getElementById('dailyGroups').innerHTML = dailyLogs.stats[xIndex].groups
            document.getElementById('dailyTimes').innerHTML = dailyLogs.stats[xIndex].times

            var d = dailyLogs.day_to_ori[dailyLogs.stats[xIndex].fitDate]
            document.getElementById('daily_logs').innerHTML = assembleHtml4DailyLogDetails(d)
        }


        paintBar(document.getElementById('daily1'), shortDates, dailyScores,
                                function(xIndex) {barCallback(xIndex)});

        barCallback(dailyLogs.stats.length - 1)
    }

    /***********************************************************/
    function clickWeekly() {
        var weeklyScores = [];
        var weeklyLogs = ajax_post("get/weekly");

        var shortDates = [];
        for(var i = 0; i < weeklyLogs.stats.length; i++) {
            weeklyScores.push(weeklyLogs.stats[i].scores);
            shortDates.push(weeklyLogs.stats[i].weekStart.substr(5) + "/" + weeklyLogs.stats[i].weekEnd.substr(5));
        }

        function barCallback(xIndex) {
            document.getElementById('weekly_day_range').innerHTML =
                formatDate(weeklyLogs.stats[xIndex].weekStart) + ' - ' + formatDate(weeklyLogs.stats[xIndex].weekEnd)
            document.getElementById('weeklyScores').innerHTML = weeklyScores[xIndex] + fen()
            document.getElementById('weeklyDays').innerHTML = weeklyLogs.stats[xIndex].dates
            document.getElementById('weeklyGroups').innerHTML = weeklyLogs.stats[xIndex].groups
            document.getElementById('weeklyTimes').innerHTML = weeklyLogs.stats[xIndex].times

            var d = weeklyLogs.weekStart_to_ori[weeklyLogs.stats[xIndex].weekStart]
            document.getElementById('weekly_logs').innerHTML=assembleHtml4DailyLogDetails(d)
        }

        paintBar(document.getElementById('weekly1'), shortDates, weeklyScores,
                                    function(xIndex) {barCallback(xIndex)});

        barCallback(weeklyLogs.stats.length - 1)
    }

    /***********************************************************/
    function clickMonthly() {
        var monthlyScores = [];
        var monthlyLogs = ajax_post("get/monthly");

        var shortDates = [];
        for (var i = 0; i < monthlyLogs.stats.length; i++) {
            monthlyScores.push(monthlyLogs.stats[i].scores);
            shortDates.push(monthlyLogs.stats[i].yearMonth);
        }

        function barCallback(xIndex) {
            document.getElementById('yearmonth').innerHTML = showYearMonth(monthlyLogs.stats[xIndex].yearMonth)
            document.getElementById('monthlyScores').innerHTML = monthlyScores[xIndex] + fen()
            document.getElementById('monthlyDays').innerHTML = monthlyLogs.stats[xIndex].dates
            document.getElementById('monthlyGroups').innerHTML = monthlyLogs.stats[xIndex].groups
            document.getElementById('monthlyTimes').innerHTML = monthlyLogs.stats[xIndex].times

            var d = monthlyLogs.yearMonth_to_ori[monthlyLogs.stats[xIndex].yearMonth]
            document.getElementById('monthly_logs').innerHTML = assembleHtml4DailyLogDetails(d)
        }

        paintBar(document.getElementById('monthly1'), shortDates, monthlyScores,
                                            function (xIndex) { barCallback(xIndex)});
        barCallback(monthlyLogs.stats.length - 1)
    }

    function updateUserLastOper(fitLog) {
        if (!lastOper_by_type[fitLog.type]) {
            lastOper_by_type[fitLog.type] = fitLog
        }

        if (!lastOper_by_subtype[fitLog.subType]) {
            lastOper_by_subtype[fitLog.subType] = fitLog
        }
    }

    function updateByRecentLogs() {
        document.getElementById('recently').innerHTML = assembleHtml4DailyLogDetailsWithEdit(recentLogs.ori)

        //补充最新用户操作数据
        for (var i = recentLogs.ori.length - 1; i >= 0; i--) {
            var fitLog = recentLogs.ori[i]
            updateUserLastOper(fitLog);
        }
    }

    /***********************************************************/
    function queryRecently() {
        var recentlyInfo = ajax_post("get/recently");

        recentLogs.ori = recentlyInfo.ori

        if(recentlyInfo.ori.length > 0) {
            recentLogs.start = recentlyInfo.ori[recentlyInfo.ori.length - 1].fitDate
            recentLogs.end = recentlyInfo.ori[0].fitDate
        }

        updateByRecentLogs();

        fillByCurrentDate()
        fillInFigLogSelection()
    }

    /***********************************************************/
    function addSingleLog(e) {
        $('#operModal').modal('hide')
        $('#deleteFitLogBtn').css("visibility","hidden")
        $('#updateFitLogBtn').hide()
        $('#addFitLogBtn').show()
    }

    function editSingleLog(e) {
        var selectedLog = clickSingleLog(e)
        selectFigLogSelection(selectedLog)
        $('#operModal').modal('hide')
        $('#addFitLog').modal('show')

        $('#deleteFitLogBtn').css("visibility","visible")
        $('#updateFitLogBtn').show()
        $('#addFitLogBtn').hide()
    }

    function onDeleteFitLog (){
        var id =$("#id").val()
        var fitDate = unformatDate(document.getElementById('selectDate').innerText);
        var dailyLog = {"id": id, "fitDate": fitDate}

        console.log("onDeleteFitLog by id: " + JSON.stringify(dailyLog))
        var logsByDate = ajax_post("delete/single", dailyLog)

        updateWhenRefreshOneDateLog(logsByDate, fitDate);
    }

    function updateWhenRefreshOneDateLog(logsByDate, fitDate) {
        //更新今日运动
        document.getElementById('selected_day_log').innerHTML = assembleHtml4DailyLogDetailsWithSingleEdit(logsByDate)
        // updateUserLastOper(dailyLog);

        //根据更新后的当天数据，重新组装recentLogs
        var updatedRecentLogs = recentLogs.ori.filter(function (log) {
            return log.fitDate != fitDate
        });
        updatedRecentLogs = logsByDate.concat(updatedRecentLogs)
        recentLogs.ori = updatedRecentLogs

        updateByRecentLogs();
        // document.getElementById('recently').innerHTML=assembleHtml4DailyLogDetailsWithEdit(recentLogs.ori)
    }

    function onUpdateFitLog() {
        var id =$("#id").val()
        var type =$("#types option:selected").val()
        var subType =$("#subTypes option:selected").val()
        var groups =$("#groups option:selected").val()
        var times =$("#times option:selected").val()
        var fitDate = unformatDate(document.getElementById('selectDate').innerText);

        var dailyLog = {"id": id, "type": type, "subType": subType, "groups": groups, "times": times, "fitDate": fitDate}
        console.log("onUpdateFitLog: " + JSON.stringify(dailyLog))
        var logsByDate = ajax_post("update/single", dailyLog)

        updateWhenRefreshOneDateLog(logsByDate, fitDate);
    }

    function onAddFitLog() {
        var type =$("#types option:selected").val()
        var subType =$("#subTypes option:selected").val()
        var groups =$("#groups option:selected").val()
        var times =$("#times option:selected").val()
        var fitDate = unformatDate(document.getElementById('selectDate').innerText);

        var dailyLog = {"type": type, "subType": subType, "groups": groups, "times": times, "fitDate": fitDate}
        console.log("onAddFitLog: " + JSON.stringify(dailyLog))
        var logsByDate = ajax_post("insert/single", dailyLog)

        updateWhenRefreshOneDateLog(logsByDate, fitDate);
    }

    var selectedLogs;
    function editLog(e) {
        selectedLogs = clickLog(e)
        $('#addFitLog').modal('hide')
        $('#operModal').modal('show')
    }

    function onCopy() {
        var fitDate = unformatDate(document.getElementById('selectDate').innerText)

        var logsByDate = []
        for(var i = 0; i < selectedLogs.length; i++) {
            selectedLogs[i].fitDate = fitDate
            console.log("onCopy: " + JSON.stringify(selectedLogs[i]))
            logsByDate = ajax_post("insert/single", selectedLogs[i])
        }

        updateWhenRefreshOneDateLog(logsByDate, fitDate);

        // var data = {"fitDate": fitDate, "fitDailyLogs": selectedLogs}
        // console.log("onCopy:" + JSON.stringify(data))
        //
        // var logsByDate = ajax_post("insert/batch", data)
        // updateWhenRefreshOneDateLog(logsByDate, fitDate);
    }

    function onCopyAndReplace() {
        var fitDate = unformatDate(document.getElementById('selectDate').innerText)

        console.log("deleteByDate:" + fitDate)
        ajax_post("delete/daily", {"fitDate": fitDate})

        onCopy()
    }

</script>
</body>
</html>