<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tab切换</title>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

</head>
<body>
<div>
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="nav nav-tabs nav-pills">
                    <li class="active"><a href="#">Home</a></li>   
                    <li><a href="#">Tutorials</a></li>
                    <li><a href="#">Practice Editor </a></li> 
                    <li><a href="#">Gallery</a></li> 
                    <li><a href="#">Contact</a></li> 
                </ul>
            </div>
        </div>
    </div>

    <!-- 导航 -->
    <ul class="nav nav-tabs nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                  data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
        </li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
        </li>
    </ul>

    <!-- 对应内容 -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">...1</div>
      <div role="tabpanel" class="tab-pane" id="profile">...2</div>
      <div role="tabpanel" class="tab-pane" id="messages">...3</div>
      <div role="tabpanel" class="tab-pane" id="settings">...4</div>
    </div>
</div>
</body>
</html>